.logo {
  width: 35%;
}

.subtitle {
  margin-top: 1%;
}

.subjects-table {
  margin-top: 0.5%;
  font-size: 14px;
}

.student-name {
  margin-right: 4%;
}

.date {
  margin-bottom: 1%;
}

@media print {
  html, body {
    font-size: 14px;
    height: initial !important;
    overflow: initial !important;
    -webkit-print-color-adjust: exact;
  }
  .pagebreak { page-break-before: always; } /* page-break-after works, as well */
}

@page {
  margin: 10mm 2mm;
}
