.logo {
  width: 45%;
}

.subtitle {
  margin-top: 1%;
}

.subjects-table {
  margin-top: 0.5%;
  font-size: 14px;
}

.student-name {
  margin-top: 1%;
  margin-right: 4%;
}

.date {
  margin-bottom: 4%;
}
